<div class="header">
  <img class="logo" src="assets/images/conecta.png" alt="" />
   <ul class="nav navbar-nav navbar-right">
    <li role="presentation" ng-class="$root.currentState === 'dashboard' ? 'active': ''"><a ui-sref="dashboard">Home</a></li>
    <li role="presentation" ng-class="$root.currentState === 'register' ? 'active': ''"><a ui-sref="register">Registro</a></li>
    <li role="presentation" ng-class="$root.currentState === 'login' ? 'active': ''"><a ui-sref="login">Iniciar Sesion</a></li>
  </ul>
</div>
