.header{
  height: 100px;
  background:#017da8;
  padding: 1em;
  padding-top:0px;
  .logo{
    //box-shadow: #b3b3b3 8px 8px 8px;
  }
  img{
    width: 95px;
  }
  p{
    font-size: 2em;
    color: white;
  }
  .navbar-nav>li>a {
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
  }
  .navbar-nav{
    li.active{
      a {
        color: black;
        background: white;
      }
    }
  }
  .navbar-nav>li>a:hover {
    color: black;
    background: white;
  }
}
