footer{
    background-color: #212121;
    padding: 20px 0px;
    height: auto;
    min-height: 100px;
    padding-top: 40px;
    margin-top: 50px;
    .container{
      p, a{
        color: white;
        font-weight: 400;
      }
    }
}
