body {
    font-family: sans-serif;
    background-color:@color-body;
    .spaceDetails{
      margin-left: 70px;
      margin-right: 90px;
      .spaceName{
        margin-bottom: 2px;
        font-size: 20px
      }
      .inf-ubication{
        margin-top: 10px;
        font-size: 16px;
      }
      .inf-summary{
        font-size: 16px;
        float: right;
      }
      .descriptionTitle{
        font-size: 16px;
      }
      .titleDetails{
        font-size: 16px;
        float: left;
      }
      .description{
        font-weight: normal;
      }
      .person{
        float: right;
      }
      .tag-item-list {
        background: #DDDDDD !important;
        margin: 2px;
        padding: 0 5px;
        display: inline-block;
        line-height: 25px;
        border: 1px solid #DDDDDD;
        border-radius: 3px;
        font-size: 14px;
      }
    }
    .inf-ubication {
        color: #A6A6A6;
    }
    .carousel{
      width: 800px;
      margin-left: 70px;
    }
    .item img {
      line-height: 1;
    }
    .nav-spaces {
      text-decoration: none;
      margin-top: 80%;
      padding-top: 100%;
      i {
        cursor: pointer;
        padding-top: 38vh;
      }
    }
}
