@import "colors.less";
@import "dashboard/dashboard.less";
@import "register/register.less";
@import "components/header/header.less";
@import "components/footer/footer.less";
@import "space/space.less";

@width:816px;
@height:1056px;

body{
  overflow-x: hidden;
}
th{
  text-align: center;
}
