@color-body:#fff;
@color-page:rgba(0,0,0,0.5);
@color-p:#000;
@color-stardart:rgb(233, 233, 233);
@color-supplies: #ccc;
@btn-original:rgba(204, 204, 204, 0.52);
@btntext-original:#000;
@btn-text:#fff;
// size page
@width:816px;
@height:1056px;
//---------------
@blue: #017da8;
@blueConecta: #1a0339;
@pink:#ff004e;
@facebook: #085394;
@google: #cf2a27;
@white: #fff;
@pinkbar: rgba(255, 0, 77, 0.7);
