body {
    font-family: sans-serif;
    background-color: white;
    .register{
      background: url(assets/images/construccion.png) no-repeat;
      height: 90vh;
      width: 50%;
      margin: auto;
      background-position: center;
      background-size: contain;
    }
}
