body {
    font-family: sans-serif;
    background-color: white;
    .hr-body {
        border-bottom: 4px solid @facebook;
        margin-top: 0;
        width: auto;
        background-color: @facebook;
        margin-bottom: 50px;
    }
    .contenedor-img {
        height: 265px;
        padding: 0;
        width: 411px;
        box-shadow: #B3B3B3 2px 2px 2px;
        border: 1px solid #B3B3B3;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
        background: #fff;
        margin-bottom: 15px;
        .contenido,
        .mascara {
            width: 411px;
            height: 200px;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
        }
        img {
            transform: scaleY(1);
            transition: all 0.7s ease-in-out;
            height: 200px;
            width: 411px;
        }
        .caption {
            padding: 0;
            background: white;
            position: absolute;
            width: 411px;
            height: 76px;
            cursor: pointer;
            .status {
                position: relative;
                background-color: #1fa561;
                width: 115px;
                height: 30px;
                padding: 3px;
                text-align: center;
                font-weight: bold;
                color: white;
                margin-left: 15px;
                text-transform: capitalize;
            }
            h2 {
                position: relative;
                margin: 5px auto 5px 10px;
                font-size: 20px;
                color: black;
                text-align: left;
            }
            p {
                text-align: justify;
                span.pull-left {
                    margin-left: 10px;
                }
                span.pull-right {
                    margin-right: 10px;
                }
            }
        }
        .mascara {
            background-color: rgba(1, 125, 168, 0.9);
            transition: all 0.5s linear;
            opacity: 0;
            padding-top: 90px;
            a.link {
                opacity: 0;
                transform: scale(0);
                transition: all 0.5s linear;
                padding: 10px;
                color: white;
                border: 1px solid white;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    background: white;
                    color: @blue;
                }
            }
        }
        &:hover {
            img {
                transform: scale(2);
            }
            .mascara {
                opacity: 1;
            }
            a.link {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .nav-spaces {
        text-decoration: none;
        i {
            cursor: pointer;
            padding-top: 38vh;
        }
    }
}
