
<main>
    <section class="main" id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                    <a ng-click="vm.pagination.prevPage()" class="nav-spaces"><i class="fa fa-angle-left fa-3x"></i></a>
                </div>
                <div class=" col-lg-10 col-md-10 col-xs-12 list">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6" ng-repeat="space in vm.data | startFrom: vm.pagination.page * vm.pagination.perPage | limitTo: vm.pagination.perPage">
                            <div class="contenedor-img">
                                <img src="http://lorempixel.com/400/200/city/{{$index}}">
                                <!-- <img class="imageSpace" src="https://res.cloudinary.com/virtuosisimo/image/upload/c_fill,h_500,w_815/gleayb46wnh2syavpuoc" ng-click="getById(space.id)"> -->

                                <div class="mascara">
                                    <a class="link" ng-click="vm.viewSpace(space.id)">Ver Publicación</a>
                                </div>
                                <div class="caption" ng-click="vm.viewSpace(space.id)">
                                    <div class="row">
                                        <span class="status pull-left">{{space.spaces[0].spaceStatus.name | lowercase}}</span>
                                        <h2 class="pull-left">{{space.spaces[0].type.name}}</h2>
                                    </div>
                                    <p>
                                      <span class="pull-left">{{space.spaces[0].capacity}} Persons</span><span class="pull-right">{{space.spaces[0].pricing.perHour | currency:space.spaces[0].pricing.currency.currencyCode}} per Hour</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-1 col-md-1 hidden-sm hidden-xs">
                    <a ng-click="vm.pagination.nextPage()"class="nav-spaces"><i class="fa fa-angle-right fa-3x"></i></a>
                </div>
            </div>
        </div>
    </section>
</main>
